* {
    margin: 0;
    padding: 0;
}

body {
    font-family: PingFangSC-Regular !important;
}

html {
    width: 100%;
    height: 100%;
}

button {
    margin: 0 !important;
    color: #fff !important;
    background-color: #006EFF !important
}

div {
    display: flex;
    align-items: center;
}

.row-div {
    flex-direction: row;
}

.col-div {
    flex-direction: column;
}

#root {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    position: absolute;
    display: block;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

#login-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-card {
    width: 450px;
    height: 470px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}

.login-card {
    width: 360px;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.popover {
    min-width: 300px;
    max-width: 1000px;
    border: 0;
    white-space: nowrap;
    /* overflow: hidden; */
}

.popover-body {
    flex-direction: column;
    padding: 0;
}

.popover-body>div {
    width: 100%;
    height: 35px;
    justify-content: center;
    cursor: default;
}

.popover-body>div:hover {
    background-color: #F7F7F7;
}

#loginContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(39, 71, 77);
    align-items: center;
    justify-content: center;
}

#loginBox {
    width: 904px;
    height: 485px;
}

.loginRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.inpBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inpBox button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 20px!important;
}

#freeBox {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
}

.freeTop {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(135deg, rgba(89, 180, 242, 1) 0%, rgba(75, 139, 237, 1) 100%);
}

.freeTop p {
    padding-left: 20px;
    margin: 0!important;
}

.freeBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.freeBottom p {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}